* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Varela Round', sans-serif;
}